html{
	background-color: #779ec9;
}

body{
	text-align: center;
	background-color: #5e7aa9;
	width: 800px;
	margin: auto;
	padding-bottom: 20px;
}

ul{
	list-style-type: none;
}

header, section{
	border: 3px solid #9edbca;
}

section{
	width: 400px;
	margin: auto;
}
